#bg3{
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: #d6d7dc;
    /* background: linear-gradient(90deg, #f2e1e0 0,#a7b1ee 58%); */
}

#rank1{
    background: transparent;
    width: 900px;
    height: 700px;
    border-radius: 2rem;
    box-shadow: 0px 0px 1px 0px black;
    overflow: hidden;
}
#rank2{
    background: transparent;
    width: 900px;
    height: 700px;
    border-radius: 2rem;
    box-shadow: 0px 0px 1px 0px black;
    overflow: hidden;
}
#container{
    display: flex;
    margin-top: 20px;
}
#title3 {
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 16px;
}

.bar{
    display: flex;
    align-items: center;
    width: 380px;
    height: 100px;
    background-color: rgba(255, 255, 255, .6);
    margin:20px 20px;
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;  /* 添加过渡动画 */

}
.bar:hover {
    transform: scale(1.1);  /* 当鼠标悬停时，放大 .bar */
}

img{
    border-radius: 2rem;
}
.info{
    margin-left: 20px;
}
.bar p{
    color: gray;
}
