.navbar button {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin:0px 40px;
  }
  
  .navbar button:focus,
  .navbar button:hover {
    color: #3A8BFF;
  }
  
  .navbar button:focus:after,
  .navbar button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .navbar button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #3A8BFF;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  