@font-face {
    font-family: title;
    src: url(../font/霞鹜臻楷.ttf);
}
#bg1{
    width: 99vw;
    height: 100vh;
    background-color: rgb(222, 231, 247);
    background-image: url(../image/banner1.jpg);
    background-size: cover;
    position: relative;

}

.title{
    background-color: transparent;
    font-size: 25px;
    width: 330px;
    font-weight: bold;
    font-family:title;
    position: fixed;
    left: 30px;
    color: rgb(0, 0, 0);
}
.header{
    display: flex;
    background: white;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center; 
    padding: 0 30px;
    width: 100%;
    height: 55px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 1px 3px 0px rgb(35, 35, 35);
}
.navbar{
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

#scroll {
    position: absolute;
    bottom: 20px;  /* 设置按钮距离 #bg 底部的距离 */
    left: 50%;  /* 将按钮水平居中 */
    transform: translateX(-50%);  /* 修正按钮的位置，使其完全居中 */
    text-align: center;
}
/* <reset-style> ============================ */
a {
    text-decoration: none;
}
/* <main-style> ============================ */
.main__scroll, .main__scroll-text {
    color: #cbc8c8e4;  /* 将按钮和文字的颜色设置为白色 */
    font-size: large;
}
.main__scroll-box {
animation: scroll-down 2s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
}

35% {
    transform: translateY(1rem);
    opacity: 0;
}

70% {
    transform: translateY(-1rem);
    opacity: 0;
}
}

