@font-face {
    font-family: title;
    src: url(../font/霞鹜臻楷.ttf);
}
.bg1{
    width: 100%;
    height: 791px;
    background-color: rgb(222, 231, 247);
    background-image: url(../image/yang-E4wwlKwPd04-unsplash.jpg);
    background-size: cover;
}

.title{
    background-color: transparent;
    font-size: 25px;
    margin-right: 10%;
    margin-left: 1%;
    width: 330px;
    font-weight: bold;
    font-family:title;
}
.header{
    display: flex;
    background: transparent;
    /* position: fixed; */
    z-index: 1;
    align-items: center;
    width: 100%;
    height: 60px;
    text-align: center;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    /* box-shadow: 0px 1px 3px 0px rgb(35, 35, 35); */
}
.navbar{
    background-color: transparent;
    justify-content: center;
    align-items: center;
}