#bg4{
    width: 99vw;
    height: 100vh;
    display: flex;
    background: url(../image/bg/old_mathematics.png);
}
#article1{
    width: 60%;
    margin-right: 30px;
    margin-top: 95px;
    text-align: center;
    margin-left: 80px;
    background-color: #ffffff;
    border-radius: 1rem;
}
#article1 .info{
    text-align: center;
    font-size: 18px;
    color: gray;
    margin: 10px 0;
}
#article1 .title2{
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}
#article1 p{
    font-size: 20px;
    text-indent: 50px;
    text-align: left;
    margin: 0 40px;
}
#article2{
    width: 33%;
    height: 600px;
    margin-top: 150px;
    margin-right: 40px;
    border-left: 2px solid rgb(70, 70, 70);
    text-align: center;
    padding: 30px;
}
#article2 h3{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 30px;
}
#article2 .a {
    display: block;
    margin: 25px 0;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 23px;
    text-align: left;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
}

#article2 .a:hover {
    text-decoration: underline;
}