#bg3{
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: url(../image/bg/old_mathematics.png);
}
/* 热门省份 */
#rank1{
    background: transparent;
    width: 900px;
    height: 700px;
    overflow: hidden;
    border-right: 2px solid gray;
}
/* 热门城市 */
#rank2{
    background: transparent;
    width: 900px;
    height: 700px;
    overflow: hidden;
}
#container{
    display: flex;
    margin-top: 20px;
}
#title3 {
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.bar{
    display: flex;
    align-items: center;
    width: 380px;
    height: 100px;
    background-color: rgba(255, 255, 255, .6);
    margin:20px 20px;
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out; 

}
.bar:hover {
    transform: scale(1.1); 
}

#bg3 img{
    border-radius: 1.5rem;
}
.info{
    margin-left: 20px;
}
.bar p{
    color: gray;
}
