*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../image/bg/old_mathematics.png);
}
/* 网站标题 */
.title{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 330px;
    font-weight: bold;
    font-family:title;
    position: fixed;
    left: 30px;
    color: rgb(0, 0, 0);
}
/* 标题字体 */
@font-face {
    font-family: title;
    src: url(../font/霞鹜臻楷.ttf);
}
/* 导航栏 */
.header{
    display: flex;
    background: #ffffff;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 55px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(65, 65, 65, 0.516);
}
/* 导航栏按钮 */
.navbar{
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
/* 背景 */
#bg{
    padding-top: 80px;
    margin: 0 auto;
    width: 1200px;
    height: 400px;
}
h1{
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 50px;
    opacity: 0.7;
}
/* 省份介绍 */
#intro{
    display: flex;
    width: 100%;
    height: 350px;
    margin: 0 auto;
}
/* 省份图片 */
#intro img{
    width: 40%;
    height: 330px;
    margin: auto 0;
    border-top-left-radius: 1rem;
    margin-left: 20px;
}
/* 介绍文字 */
#texts{
    width: 60%;
    height: 330px;
    margin: auto 0;
    border-top-right-radius: 1rem;
    background-color: #ffffff;
}
#texts p{
    margin: 20px 30px;
    font-size: 23px;
    line-height: 40px;
    background-color: transparent;
}
#data{
    display: flex;
    margin-top: 10px;
    margin: 0 auto;
    width: 1200px;
    height: 400px;
}
/* 旅游收入 */
#data1{
    width: 50%;
    height: 400px;
    text-align: center;
}
/* 旅游人次 */
#data2{
    width: 50%;
    height: 400px;
}
#bg2{
    margin: 0 auto;
    width: 1200px;
}
h2{
    margin-left: 40px;
    margin-bottom: 5px;

}
#places{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 260px;
}
.spot{
    position: relative;
    margin: 0 auto;
    width: 32%;
    height: 250px;
    border-radius: 1rem;
}
.spot img{
    width: 100%;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 0 0 1px 0 rgb(0, 0, 0);
}
.name{
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #fefcf3;
}

/* 返回按钮 */
#back {
    position: fixed;
    height:3em;
    width: 100px;
    background-color: rgb(218, 216, 216);
    border-radius: 0.5rem;
    letter-spacing: 5px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #f2f2f2;
    left: 100px;
    top: 70px;
    text-align: center;
    font-size: larger;
   } 
   #back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #d1d0d0;
    transform: translateY(-2px);
   }
  
   /* 导航栏 */
   .navbar button {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin:0px 40px;
  }
  
  .navbar button:focus,
  .navbar button:hover {
    color: #3A8BFF;
  }
  
  .navbar button:focus:after,
  .navbar button:hover:after {
    width: 100%;
    left: 0%;
  }
  .navbar button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #3A8BFF;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  